.About {
  display: grid;
  grid-template-rows: 1fr repeat(5, 0.5fr);
  padding-left: 100px;
  background-color: white;
}

.About .Header {
  text-align: center;
}
.About .Info {
  font-size: 20px;
  font-weight: bold;
}
