.About {
  background-color: rgb(242, 237, 237);
  border-radius: 10px;
  width: 50%;
  margin-left: 100px;
}

.About .BackColor {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border-style: ridge;
  border-width: 1px;
}

.About .Header {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.Info {
  font-weight: 700;
  padding: 1rem;
  border-style: ridge;
  border-width: 1px;
}
