/* Remember to start all CSS slectors for the PictureBox with `.PictureBox`
This process of namespacing ensures that stlyes for this component do not
spill over into subling components. */
.PictureBox {
  background-color: rgb(242, 237, 237);
  border-radius: 20px;
  width: 350px;
  height: 500px;
  text-align: center;
}

.PictureBox .Pic {
  border-radius: 50%;
  width: 80%;
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 10px;
}

.PictureBox .Quote {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  border-style: ridge;
  border-width: 1px;
}
