.Posts {
  background-color: rgb(246, 241, 241);
  border-radius: 5px;
  width: 93%;
}

.Posts .Header {
  color: white;
  background-color: #5487f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}

.Posts input {
  border-radius: 10px;
}

.Posts div {
  border-style: ridge;
  border-width: 1.5px;
}

.Posts ul {
  margin-left: -38px;
}
