.Posts {
  background-color: rgb(240, 239, 239);
  border-radius: 5px;
}

.Posts .Header {
  color: white;
  background-color: #5487f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}

.Posts h2 {
  font-size: 30px;
}
